@charset "UTF-8";
body{
  font: 12px/1.5 "微软雅黑";
  color: #555;
  background-color: #f3f3f3;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{border: 0;}
i{font-style: normal;}
ul,ol{
  list-style: none;
}
.w-1000{
  width: 1000px;
  margin: 0 auto;
}
.fz16{font-size: 1rem;}