@charset "UTF-8";
.help{
  padding-top: 18px;
  background-color: #f0f0f0;
}
.help .w-1000{
  padding-bottom: 18px;
}
.nav{
  width: 200px;
}
.nav>h3{
  height: 63px;
  background-color: #ffc94f;
  line-height: 63px;
  font-size: 18px;
}
.nav>.nav-con{
  padding: 0 10px 10px;
  background-color: #fff;
}
.nav .nav-con div h4{
  width: 130px;
  height: 36px;
  padding-top: 10px;
  padding-left: 50px;
  line-height: 26px;
  vertical-align: middle;
  font-size: 16px;
}
.nav .nav-con>div{
  margin-bottom: 10px;
}
.nav .nav-con .account h4.acc-tit{
  background: url("../images/icon1.png")no-repeat 25px 15px;
}
.nav .nav-con div>span a{
  width: 88px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.nav .nav-con div>span a:hover{
  color: #ffc94f;
}
.w-1000 .tab-content{
  width: 770px;
  padding: 0 50px;
  background-color: #fff;
}
.container .tab-content .tab-pane h3{
  height: 68px;
  border-bottom: 2px solid #eee;
  line-height: 68px;
  vertical-align: middle;
  font-size: 18px;
}
.w-1000 .tab-content .tab-pane h3 span{
  width: 100px;
  height: 68px;
  border-bottom: 2px solid #ffc94f;
  color: #ffc94f;
}
.tab-content .tab-pane>.help-con{
  padding: 30px 0;
  font-size: 14px;
}
.tab-content .tab-pane .help-con .help-des .help-tit{
  padding-left: 25px;
  background:url("../images/icon_icon.png")no-repeat 10px 20px;
  line-height: 48px;
}
.tab-pane .help-con .help-des .help-tit a{
  color: #555;
}
.tab-pane .help-con .help-des .help-tit:hover a{
  color: #ffc94f;
}
.tab-pane .help-con .help-des>.help-txt{
  display: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f6f6f6;
  line-height: 26px;
}
.tab-pane .help-con .help-des .help-txt p{
  margin-bottom: 0;
  text-indent: 28px;
}