@charset "UTF-8";
#content .con-top{
  position: relative;
  height: 363px;
}
#content .container-fluid .carousel-control-prev,
#content .container-fluid .carousel-control-next{
  top:42%;
  width: 4%;
  height: 16%;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
}
#content .container-fluid .carousel-indicators li{
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
#content .con-top .suspend {
  position: absolute;
  top: 20px;
  right:80px;
  padding: 40px;
  background:url("../images/index_banner/boxbg.png")no-repeat scroll 0px 0px;
}
#content .con-top .suspend .sus-cont{
  width: 196px;
  height: 187px;
}
.suspend .sus-cont p{
  line-height: 30px;
}
.suspend .sus-cont p span{
  font-size: 14px;
  color: #97a0a6;
}
.suspend .sus-cont p strong{
  font-size: 18px;
  color: #ff7512;
}
#content .con-cont{
  margin-top: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
#content .con-cont p.clearfix {
  border-bottom: 1px solid #e2e2e2;
}
.con-cont p.clearfix span{
  padding-left: 30px;
  background: url("../images/laba.png")no-repeat 0px 4px;
}
.con-cont p.clearfix a{
  color: #555;
}
#content .con-cont .con-cont-mid ul.con-cont-text{
  width: 725px;
  color: #8d8d8d;
}
.con-cont-mid ul.con-cont-text li{
  width: 241px;
  padding-top:30px;
  padding-left: 20px;
}
.con-cont-mid ul.con-cont-text li span{
  display: inline-block;
  height: 25px;
  padding: 30px 20px 25px 50px;
}
.con-cont-mid ul.con-cont-text li .title1{
  background: url("../images/blockpic01.png") no-repeat scroll 0 0;
}
.con-cont-mid ul.con-cont-text li .title2{
  background: url("../images/blockpic02.png") no-repeat scroll 0 0;
}
.con-cont-mid ul.con-cont-text li .title3{
  background: url("../images/blockpic03.png") no-repeat scroll 0 0;
}
.con-cont-mid ul.con-cont-text li p{
  color: #ff7512
}
.con-cont-mid ul.con-cont-text li p strong{
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
#content .con-cont .con-cont-mid .con-notice{
  width: 240px;
  padding-left: 19px;
  border-left: 1px solid #e2e2e2;
  color: #8d8d8d;
}
.con-cont .con-cont-mid .con-notice h2{
  padding: 10px 0;
  font-size: 16px;
}
.con-cont .con-cont-mid .con-notice  ul li{
  line-height: 25px;
}
.con-notice  ul li a{
  color: #8d8d8d;
}
.con-notice  ul li a span{
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
#content .con-content{
  margin-top: 30px;
  border: 1px solid #14b2e2;
  border-radius: 5px;
  background: #fff;
}
#content .con-content .con-content-left{
  width: 745px;
}
#content .con-content .con-content-left .con-content-left-top{
  padding: 30px 20px 0 20px;
  border-bottom: 1px solid #e2e2e2;
  background: url("../images/xinshou.png")no-repeat 0 0 ;
}
#content .con-content .con-content-left .con-content-left-top span{
  font-size: 16px;
}
.con-content-left-top .container{
  width: 280px;
}
.con-content-left-top .container .progress{
  height: 10px;
  margin-top: 7px;
  background-color: #e3e3e3;
}
.con-content-left-top .container .progress .progress-bar{
  color: #666;
}
.con-content-left-top .con-content-left-btm li{
  margin-right: 19px;
  font-size: 14px;
  line-height: 45px;
  color: #97a0a6;
}
.con-content-left-top .con-content-left-btm li strong{
  font-size: 22px;
  color: #ffa800;
  font-weight: bold;
}
.con-content-left-top .con-content-left-btm li span{
  color: #555;
}
.con-content-left-top .con-content-left-btm li .btn{
  width: 125px;
  height: 35px;
  border: 1px solid #14b2e2;
  border-radius: 5px;
  font-size: 16px;
  color: #14b2e2;
}
#content .con-content .con-content-left .btm{
  background-image: url("../images/tiyan.png");
}
#content .con-content-right img{
  width: 253px;
}
#content .con-content-right .con-content-right-title{
  width: 253px;
  height: 35px;
  background-color: #14b2e2;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
}
#content .con-btm{
  margin-top: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background-color: #fff;
}
#content .con-btm>ul{
  position: relative;
  height: 47px;
  padding: 0 20px;
  border-bottom: 1px solid #e2e2e2;
  line-height: 47px;
}
#content .con-btm>ul li.comm{
  width: 125px;
  border-bottom: 3px solid transparent;
  font-size: 18px;
}
#content .con-btm>ul li.comm:hover{
  border-bottom-color: #14b2e2;
}
#content .con-btm>ul>.ul_a{
  position: absolute;
  right: 20px;
}
#content .con-btm>ul li a{
  height: 45px;
  line-height: 45px;
  color: #959595;
}
#content .con-btm>ul li a{
  border:none;
}
#content .con-btm .tab-content .tab-pane .invest-cont{
  padding: 35px 20px;
  border-bottom: 1px solid #e2e2e2;
}
.tab-content .tab-pane .invest-cont>span{
  width: 76px;
  height: 56px;
  padding-top: 10px;
  padding-right: 30px;
}
.tab-content .tab-pane .invest-cont .invest-cont-details{
  width: 670px;
  height: 24px;

}
.invest-cont .invest-cont-details >.invest-cont-details-top >span{
  font-size: 16px;
  color: #000;
}
.invest-cont-details >.invest-cont-details-top >.progress{
  width: 230px;
  height: 10px;
  margin-top: 7px;
}
.tab-content .tab-pane .invest-cont .invest-cont-details >ul{
  padding-top: 10px;
}
.tab-content .tab-pane .invest-cont .invest-cont-details >ul li{
  margin-right: 69px;
  font-size: 16px;
  color: #97a0a6;
}
.invest-cont .invest-cont-details>ul>li>span{
  color: #ffa800;
  font-weight: bold;
}
.tab-content .tab-pane .invest-cont>.btn{
  width: 120px;
  height: 36px;
  margin-top: 10px;
  margin-left: 40px;
  background-color: #14b2e2;
}
