@charset "UTF-8";
html,body,div,span,h1,h2,h3,h4,h5,h6,p,
a,strong,i,center,ol,ul,li,footer,header{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
  font: 12px/1.5 "Microsoft YaHei, Arial, Helvetica, sans-serif";
  color: #555;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{border: 0;}
i{font-style: normal;}
ul,ol{
  list-style: none;
}
.w-1000{
  width: 1000px;
  margin: 0 auto;
}
.fz16{font-size: 1rem;}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  display: block;
  content: "";
  clear: both;
}